@import "variables";
@import "mixins";

.excel__table {
  position: absolute;
  top: $toolbar_height + $formula_height + $header_height;
  left: 0;
  right: 0;
  overflow-x: auto;
  padding-bottom: 2px;  

  .row {
    display: flex;
    flex-direction: row;
    min-height:20px;
    height: $row_height;

  }
  .row-info {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: $info-cell-width;
    height: 100%;
    border: 1px solid $border-color;
    border-top: none;
    background: #f8f9fa;
    position: relative;
    
  }
  .row-data {
    display: flex;
    
  }
  .column {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f8f9fa;
    min-width: 40px;
    width: $cell-width;
    border: 1px solid $border-color;
    border-top: none;
    border-left: none;
    height: 100%;
    position: relative;
  }
  .cell {
    display: inline-block;
    min-width: 40px;
    padding: 5px;
    width: $cell-width;
    height: 100%;
    border: 1px solid #e2e3e3;
    border-top: none;
    border-left: none;
    color: #111;
    white-space: nowrap;
    outline: none;
    &.selected {
      border: none;
      outline: 2px solid $primary-color;
      z-index: 2;
    }
  }
  .col-resize, .row-resize {
    bottom: 0;
    position: absolute;
    opacity: 0;
    right: 0;
    background: $primary-color;
    z-index: 1000;
    &:hover {
      opacity: 1 !important;
    }
  }

  .col-resize {
    top: 0;
    width: 4px;
    &:hover {
      cursor: e-resize;
    }
  }

  .row-resize {
    left: 0;
    height: 4px;
    &:hover {
      cursor: s-resize;
    }
  }
  
}